@charset "UTF-8";
/* CSS Document */
html,
body {
}

#wrap{
	background:url(../images/shine.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.navbar-sunflower{
	background-color:#ecf0f1;
}

.navbar {
  font-size: 16px;
  border-radius: 0;
  border: none;
}

.navbar .navbar-brand {
  border-radius:0;
  font-size: 24px;
  line-height: 64px;
  font-weight: 700;
  padding:0 0 0 20px;
  text-shadow: none;
  display: inline-block;
}

.navbar .navbar-toggle:before {
  content: "\e00c";
  font-family: "Flat-UI-Icons";
  font-size: 23px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.iconbar {
  background-color:transparent;
  margin: 0 20px 0 0;
}

.iconbar > ul > li > a {
  font-size: 14px;
  color:#2c3e50;
}

.iconbar-unread {
  background-color: #e74c3c;
}

.form-control{
	margin-bottom:15px;
}

.fui-checkbox-unchecked:before {
	background-color:#f1c40f;
	color:#bdc3c7;
}

.fui-checkbox-checked:before {
  background-color:#f1c40f;
}

.bottom-menu{
	background-color:#1abc9c;
	color:#ffffff;
}

.bottom-menu a:hover{
	color:#2c3e50;
}

img {
	max-width:100%;
}

/*背景颜色*/
.bg-clouds{
	background-color:#ecf0f1;
}
/*字体颜色*/
.ft-silver{
	color:#bdc3c7;
}
.ft-alizarin{
	color:#e74c3c;
}

.small2{
	font-size:12px;
}

.margin-top-100{
	margin-top:100px;
}

.margin-right-10{
	margin-right:10px;
}