

<div class="entry">
  <h1><a href="/todo/{{ entry.todo_slug }}">{{ entry.todo_slug }}</a></h1>
  {% if entry.todo_logo_thumb %}
    {% if entry.todo_logo_thumb.startswith('/static') %}
      <div class="date"><img src="{{ entry.todo_logo_thumb }}"/></div>
    {% else  %} 
      <div class="date"><img src="{{ "/img" + entry.todo_logo_thumb }}"/></div>
    {% end  %} 
  {% end  %} 
  {{ _("Created in") }}<div class="date">{{ entry.todo_created_date }}</div>
  {{ _("Todo Type") }}<div class="date">
    {% if entry.todo_type == 2  %}
            {{_("Todo Type Public")}}
      {% elif entry.todo_type == 3  %}
          {{_("Todo Type Friends")}}
      {% else %}
           {{_("Todo Type Private")}}
    {% end  %}       
  </div>
  <div class="body">{%raw entry.todo_what %}  {% raw entry.todo_when %}</div>
  {% if current_user %}
    <div class="btn"><a href="/todo_done?id={{ entry.todo_id }}&status=1">{{ _("Complete Todo") }}</a></div>
    {% if entry.todo_type == 2 or entry.todo_type == 3 %}
       <div class="btn"><a href="/todo_status?id={{ entry.todo_id }}&status=2">{{ _("Give up Todo") }}</a></div>
    {% else %}
       <div class="btn"><a href="/todo_compose?id={{ entry.todo_id }}&action=update">{{ _("Edit Todo") }}</a></div>
       <a id="shareLink" href="#dialogShare" role="button" data-toggle="modal" style="display:none"></a>
       <div class="btn"><a onclick="openShareDialog({{ entry.todo_id }},$('#shareLink'))">{{ _("Share Todo") }}</a></div>
       <div class="btn"><a href="/todo_del?id={{ entry.todo_id }}">{{ _("Remove Todo") }}</a></div>
    {% end  %}
    <div class="btn"><a href="/todo_find?id={{ entry.todo_id }}">{{ _("Find Todo") }}</a></div>
    {% if with_update %}
    <div style="margin-top: 10px; margin-bottom: 10px;">
      <div class="update_title">{{ _("What's new update?") }}</div>
      <div class="update_input">
        <textarea class="update_detail" title="{{ _('Update detail') }}" id="input_update_detail" name="update_detail" style="margin: 2px 0px 0px 2px; word-wrap: break-word; width: 512px; height: 80px;">
        </textarea>
        <div class="update_success" style="display: none">
          <p>{{ _('Update success') }}</p>
        </div>
      </div>
      <div class="update_operation dropdown" style="width: 510px;">
        <div class="oper_attached" style="width: 350px; float: left">
          <ul class="list-inline">
            <li>
            <a class="atta_smiley" href="#">{{ _('Smiley') }}</a>
            </li>
            <li>
            <a class="atta_pic" href="javascript:void(0);" onclick="javascript:toggle_selector();">{{ _('Picture') }}</a>
            </li>
            <li>
            <a class="atta_voice" href="#">{{ _('Voice') }}</a>
            </li>
          </ul>
        </div>
        <a href="javascript:void(0);" onclick="submit_update({{ entry.todo_id }});" class="btn btn-primary" style="float: right">{{ _("Send Update") }}</a>
        <div class="hidden dropdown-menu" id="pic_selector" style="top:16px;">
          <form id="form_upload" action="/img/upload" method="POST" target="upload_ret" enctype="multipart/form-data">
            {% module xsrf_form_html() %}
            <input type="FILE" id="pic1" name="postfile" onchange="upload_pic();"/>
            <input type="SUBMIT" style="display: none;"/>
          </form>
          <iframe id="upload_ret" name="upload_ret" src="" style="display: none;" onload="uploadDone();"></iframe>
          <div class="hidden" id="pic_container" style="width:162px; height:162px; border:dashed 1px #ccc;"></div>
        </div>
      </div>
      <script>
        function uploadDone() {
            var ret = frames['upload_ret'].document.getElementsByTagName("body")[0].innerHTML;
            var ret_data = eval("(" + ret + ")");
            if (ret_data.success) {
                $("#pic_container").append("<img src='/img" + ret_data.thumbname + "'/>");
                $("#pic_container").append("<input type='text' value='" + ret_data.filename + "' id='ret_pic1' style='display: none'>");
                $("#pic_container").removeClass("hidden");
            } else {
                alert("Upload failed: " + ret_data.err_info);
            }
        }

        function getCookie(name) {
            var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }
 
        function submit_update(todo_id) {
            var filename = null;
            if ($("#ret_pic1")) {
                filename = $("#ret_pic1").val();
            }
            if ($("#input_update_detail").val() == "") return;
            $.ajax({url:'/todo/' + todo_id + '/update',
                    data:{"detail":$("#input_update_detail").val(),
                          "_xsrf": getCookie("_xsrf"),
                          "pic1": filename},
                    dataType: "json",
                    type: "POST",
                    success: function(response) { window.location="/todo/{{ entry.todo_slug }}";}});
        }

        function toggle_selector() {
            if ($("#pic_selector").hasClass("hidden")) {
                $("#pic_selector").removeClass("hidden");
                $("#pic_selector").css('display', 'block');
            } else {
                $("#pic_selector").addClass("hidden");
                $("#pic_selector").css('display', 'none');
                $("#pic1").val('');
            }
        }
 
        function upload_pic() {
            $("#form_upload").submit();
        }
      </script>
    </div>
    {% end %}
  {% end %}

  <hr/>
  <div style="margin-top: 10px;">
    {% if with_update and updates and times %}
    <div style="display: block; position: fixed">
      {% module Template("modules/story_line.html", times=times) %}
    </div>
    <div style="margin-left: 200px; float: left; width: 500px;">
      {% for update in updates %}
        {% module UpdateEntry(update) %}
      {% end %}
    </div>
    {% end %}
  </div>

</div>


