<div class="entry">
  <h1><a href="/todo_done/{{ entry.todo_slug }}">{{ entry.todo_slug }}</a></h1>
  {{ _("Created in") }}<div class="date">{{ entry.todo_created_date }}</div>
  {{ _("Todo Type") }}<div class="date">
    {% if entry.todo_type == 2  %}
            {{_("Todo Type Public")}}
        {% elif entry.todo_type == 3  %}
            {{_("Todo Type Friends")}}
        {% else  %}
             {{_("Todo Type Private")}}
    {% end  %}       
  </div>
  <div class="body">{%raw entry.todo_what %}  {% raw entry.todo_when %}</div>
  {% if current_user %}
      <div class="btn"><a href="/todo_status?id={{ entry.todo_id }}&status=0">{{ _("Continue Todo") }}</a></div>
      <div class="btn"><a href="/todo_del?id={{ entry.todo_id }}">{{ _("Remove Todo") }}</a></div>
  {% end %}
</div>