<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign up | Todother</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">
	<link href="/static/css/todother.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="wrap2">
  	<header>
    <div class="navbar navbar-sunflower" role="navigation">
      <div class="navbar-inner container">
        <div class="navbar-header">
          <button type="button" class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-01"></button>
          <a href="#fakelink" class="navbar-brand">Todother</a>
        </div>
        <div class="navbar-collapse collapse navbar-collapse-01">
          <div class="navbar-right">
            <div class="iconbar iconbar-horizontal">
              <ul>
                <li><a href="/login" class="fui-user">&nbsp;用户登陆</a></li>
              </ul>
            </div> <!-- /iconbar -->
          </div>
        </div><!--/.nav-collapse -->
      </div>
		</div> <!-- /navbar -->
    </header>
    <br />
    <div class="container">
    
      <div class="row">
		<div class="col-sm-8">
        	<div class="row">
            <div class="col-sm-11">
              <h2>小伙伴们一起做</h2>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <!--<img src="/static/images/icons/book.svg">-->
                  <embed src="/static/images/icons/book.svg" type="image/svg+xml">
                </div>
                <div class="col-sm-9">
                  <h4>特色1</h4>
                  <p>
                    We here at Lifehack have been huge advocates of the Moleskine as a tool for ubiquitous capture — for jotting down ideas whenever and wherever they occur to you. They’re also great for keeping your task list and other information you might need over the course of the day. But those are hardly the only things a Moleskine is useful for!
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img src="/static/images/icons/pig.svg">
                </div>
                <div class="col-sm-9">
                  <h4>特色2</h4>
                  <p>
                    These days, Moleskines come in all sizes and colors, in a variety of specialized formats, and in both hard-covered and soft-covered versions. From the just-bigger-than-a-business-card extra-small Volants to the nearly letter-sized extra-large Cahiers, there are notebooks that can be adapted to just about every purpose.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img src="/static/images/icons/car.svg">
                </div>
                <div class="col-sm-9">
                  <h4>特色3</h4>
                  <p>
                    I run several blogs aside from the work I do at Lifehack. Each of them has it’s own medium-sized Moleskine notebook (a soft-cover one — I don’tneed all the pages of the hard-cover notebooks for this) in which I record passwords, configuration information, and notes for future changes. When I’m brainstorming post ideas, they go into their relevant notebooks, along with any other miscellanea related to each site.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <img src="/static/images/icons/basket.svg">
                </div>
                <div class="col-sm-9">
                  <h4>特色4</h4>
                  <p>
                    Use a lined or grid-paper notebook to track expenses throughout the day. You can easily store receipts in the back pocket, and reconcile your notebook with your accounting software at the end of each week or month (epending on how extensive your expenses are).
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
           </div>
       </div>
       <div class="jumbotron col-sm-4">
       		<h4>创建Todother帐号</h4>
			<form class="form-signin">
				<input id="reg_nickname" class="form-control input-lg" placeholder="昵称" autofocus type="text" name="nickname">
				<input id="reg_email" class="form-control input-lg" placeholder="电子邮箱" type="email" name="email">
        <input id="reg_password" class="form-control input-lg" placeholder="密码" type="password" name="password">
        <div id="err_container" class="alert alert-danger hidden">
          <strong>Error!</strong><span id="err_info"></span>
        </div>
				<a href="javascript:void(0);" class="btn btn-lg btn-info btn-block" onclick="check_reg();">开始做吧</a>
			</form>
           <hr>
           <p>使用其他社交帐号注册</p>
			<a href="#fakelink" class="btn btn-default btn-lg btn-social-facebook">
				<span class="fui-facebook"></span> 面
			</a>                      
			<a href="#fakelink" class="btn btn-default btn-lg btn-social-twitter">
				<span class="fui-twitter"></span> 推
			</a>
			<a href="#fakelink" class="btn btn-default btn-lg btn-social-googleplus">
				<span class="fui-googleplus"></span> 谷
			</a>
           <hr>
           <p class="small">已有Todother帐号？ <a href="/">登陆</a></p>
       </div>
      </div>
        
    </div>
    <!-- /.container -->
	<div id="push"></div>
	</div><!-- /#wrap -->
	<div id="footer">
		<div class="bottom-menu">
			<div class="container">
            <ul class="bottom-links">
            	<li>&copy;&nbsp;todother.com</li>
              <li><a href="#fakelink">关于我们</a></li>
              <li><a href="#fakelink">隐私条款</a></li>
              <li><a href="#fakelink">网站政策</a></li>
              <li><a href="#fakelink">技术支持</a></li>
            </ul>
			</div>
		</div>
    </div><!-- /#footer -->

    <script type="text/javascript">
      function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      }

      function check_reg() {
        $.ajax({url:'/register',
            data:{"email":$("#reg_email").val(), "nickname": $("#reg_nickname").val(), "password": $("#reg_password").val(), "_xsrf": getCookie("_xsrf")},
            dataType: "json",
            type: "POST",
            success: function(response) {
               if (response.success) {
                 window.location="/u/"+response.user_id+"/home";
               } else {
                 $("#err_info").text(response.err_info);
                 $("#err_container").removeClass("hidden");
               }
        }});
      }
    </script>

    <!-- Load JS here for greater good =============================-->
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/bootstrap-switch.js"></script>
    <script src="/static/js/flatui-checkbox.js"></script>
    <script src="/static/js/flatui-radio.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
  </body>
</html>
