{% extends "base.html" %}


{% block body %}


  {% for entry in entries %}
    {% module TodoModule(entry) %}
  {% end %}


 <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Share Todo</h3>
  </div>
  <div class="modal-body">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert" checked>&times;</button>
      <strong>Warning!</strong> Once you Shared Todo you cannot Edit it anymore!
    </div>
    <p>
      <label class="radio">
      <input type="radio" name="shareOptions" id="optionsRadios1" value="2" checked>
      Pubilic (everyone can see and join your Todo in the world)
    </label>
    <label class="radio">
      <input type="radio" name="shareOptions" id="optionsRadios2" value="3">
      Friends only (only friends can see and join your Todo)
    </label>
    </p>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    <a class="btn btn-primary" href="/todo_share?id={{ entry.todo_id }}&type=2">Share</a>
  </div>
</div>
{% end %}

